*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    background-color: tan;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    background-color: teal;
    height: 400px;
    width: 50%;
    text-align: center;
}
h1{
    color: aliceblue;
    margin-bottom: 10%;
}
h2{
    color: gold;
    font-size: 30px;
    display: none;
}
.boxes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    gap: 7px;
}
.btn{
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
    border-style: none;
    border-radius: 10%;
    font-weight: bold;
}
.newGamebtn{
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(139, 160, 160);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 40%;
    display: none;
}
.resetBtn{
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(139, 160, 160);
    margin-top: 5%;
    /* display: none; */
    /* margin-left: 40%; */
}
